*{
    margin: 0;
    padding: 0;
}
/* CSS styles */
.AccountCenterDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 60vh; /* Adjust the height */
    background-color: blanchedalmond;
}

.Formlist {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%; /* Make the width full */
    max-width: 300px; /* Set a maximum width */
}

.ListItem {
    width: 100%;
    background-color: antiquewhite;
    border: solid black 3px;
    border-radius: 10px;
    margin-bottom: 10px; /* Add some bottom margin */
}

.inputField {
    width: calc(100% - 10px); /* Adjust input width */
    border: none;
    background-color: transparent;
    padding: 5px; /* Add some padding */
}

#passwordShide{
    height: 20px;
    position: absolute;
    right: 15%;
}
input[type=submit]{
    display: inline-block;
    padding: 15px 60px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 200px;
    box-shadow: 0 9px #999;
}

input[type=submit]:hover{
    background-color: #3e8e41;
}
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
