body{
    background-color: cadetblue;
}
.MediaGrid{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1svh;
    list-style: none;
}
.GridItem{
    list-style: none;
}
.View_Time{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.thumbnail {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border: solid black 2px;
    border-radius: 30px;
    background-color: gray;
}

.VidName{
    font-size: 25px;
    
}
.PFP_Name{
    display: flex;
    flex-direction: row;
}
.PFP{
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.Vid_Name{
    font-size: 25px;
    margin-left: 10px;
    align-self: center;
}

.creator_name{
    font-size: 20px;
    align-self: center;   
}


@media only screen and (max-width: 600px)  {
    .MediaGrid{
        grid-template-columns: repeat(1, 1fr);
    }
}