#createVideoDialog{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 90%;
    position: absolute;
    border: solid black;
    background-color: blueviolet;
    border-radius: 20px;
    color: ghostwhite;
}
::backdrop{
    background-color: rgba(0, 0, 0, 0.600);
    }
#closebtn{
    top: 0;
    right: 0;
    position: absolute;
    border: none;
    box-shadow: 2px 2px 5px;
    border-radius: 5px;
    padding: 5px;
}
#videoSubmitForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.File-Select-Preview{
    width: 80%;
    height: 200px;
    border-radius: 20px;
    background-color: #22303C;
    align-items: center;
    text-align: center;
}
#videoPreview, #thumbnailPreview{
    max-width: 100%;
    max-height: 80%;
}
#videoName, #video, #videoDescription, #submitBtn{
    background-color: #22303C;
    color: ghostwhite;
    width: 350px;
    height: 50px;
    border-radius: 20px;
    border: solid black;
    font-size: 150%;
}