body{
    background-color: cadetblue;
}

video{
    width: 1200px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
}

#likeButton, #dislikeButton{
    width: 100px; 
    height: 50px;
}

#likeButton{
    background-color: green;
}

#dislikeButton{
    background-color: red;
}
