* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.Header {
    background-color: blueviolet;
    max-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    position: relative;
}

.HeaderItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ProfileDropdown {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(30, 44, 56);
    border-radius: 50%;
    width: 60px;
    z-index: 5;
}
#ProfileDropdownCheckBox{
    opacity: 0;
    transform: scale(5);
    cursor: pointer;
}

#ProfileDropdown:hover .Dropdown_menu {
    display: block;
}

#ProfileDropdown:focus-within .Dropdown_menu {
    display: block;
}

a {
    text-decoration: none;
}

.Dropdown_menu {
    display: none;
    background-color: blueviolet;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    height: auto; /* Adjusted height */
    border: solid black 2px;
    border-radius: 5px;
    /* padding: 10px; */
    padding-bottom: 5px;
}
#view{
    color: orange;
}

.Dropdown_link {
    background-color: transparent;
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 100%;
    text-align: left;
    border: none;
    text-decoration: none;
    color: ghostwhite;
    margin-bottom: 5px; /* Added margin-bottom */
}

.Dropdown_link:hover {
    cursor: pointer;
}

#DropdownButtenSplit{
    border-bottom: solid black 2px;
}


/* left homebutton */
#HeaderHomeLink {
    background-image: url(../../images/home.png);
    background-position: center;
    background-size: cover;
    display: block;
    width: 100px;
    height: 100%;
    text-decoration: none;
}

/* Search Bar Region for Header */
#SearchBar {
    background-color: transparent;
    border: solid black 3px;
    box-shadow: 1px 1px 5px;
    min-width: 50%;
    border-radius: 100px;
    margin-top: 0.4%;
    margin-bottom: 0.4%;
}

#SearchBar form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#SearchBarlist {
    list-style: none;
}

#SearchBarText {
    height: 100%;
    margin-left: 3%;
    width: 100%;
    border: none;
    border-right: solid black;
    user-select: none;
    background-color: transparent;
    font-size: xx-large;
    outline: none;
    color: ghostwhite;
}
#HeaderUserLink{
    font-size: 5vmin;
}

#SearchBarsubmit {
    height: 100%;
    background-image: url("../../images/search.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    border: none;
    background-color: transparent;
    outline: none;
}
/* END Search Bar Region for Header */
